<!-- Site footer -->
<footer class="site-footer" style="margin-top: 10em;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 8px;">
                <p class="copyright-text">Universidad Tecnológica Metropolitana de Aguascalientes</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 8px;">
                <p class="copyright-text">Designed by
                    <a href="#">Alberto Corzo</a>.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center flex-nowrap">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="bi bi-github"></i></a></li>
                    <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="bi bi-envelope-fill"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
